.info-container {
    background-color: rgb(255, 183, 0);
}

@media only screen and (max-width: 900px) {
    .info-container {
        bottom: -20px;
        width: 110%;
        left: -70px;
    }
}










  